    .glowing-btn {
      display: inline-block;
      padding: 12px 24px;
      font-size: 20px;
      font-weight: bold;
      color: #fff;
      background-color: #54a4a8;
      border-radius: 30px;
      box-shadow: 0 8px 15px rgba(84, 164, 168, 0.3);
      animation: glowing 2s infinite, moveUpDown 2s infinite;
    }

    @keyframes glowing {
      0% {
        box-shadow: 0 0 5px #54a4a8;
      }
      50% {
        box-shadow: 0 0 20px #54a4a8;
      }
      100% {
        box-shadow: 0 0 5px #54a4a8;
      }
    }

    @keyframes moveUpDown {
      0%, 100% {
        transform: translateY(0);
      }
      50% {
        transform: translateY(-8px);
      }
        }
