<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | Moses</title>
    <!-- Use your preferred fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

    <!-- Link for the call to action button -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">

    <!--The style for the call to action button on the portfolio i.e ghr contact me buttons -->
    <!-- <link rel="stylesheet" href="callAction.css" /> -->

    <!-- Link for the carousel -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">

    <!-- Link to thw carousel styling-->
    <link rel="stylesheet" href="/carousel.css" />

    <!-- link to the main css for the entire website -->
    <link rel="stylesheet" href="/styles/portfolio.css">
    
    <!-- style for more beauty of the site -->
    <link rel="stylesheet" href="/styles/just.css">
</head>

<body class="bg-gray-100 text-gray-900 leading-normal tracking-normal">

    <!-- Navbar -->
    <nav id="hanging_nav" class="bg-teal-bg p-4 shadow-md">
        <!-- <br> -->
        <div class="container mx-auto flex items-center justify-between">
            <!-- Your logo or name here -->
            <a href="#" class="text-xl font-bold text-peach-text">Welcome !</a>

            <!-- Mobile navigation button -->
            <button class="md:hidden text-peach-text">
                <i class="fas fa-bars navbar-icon"></i>
            </button>

            <!-- Navigation links -->
            <div class="hidden md:flex space-x-4">
                <!-- <a href="#about" class="text-peach-text hover:text-teal-text top-nav">About</a> -->
                <a href="/portfolio" class="text-peach-text hover:text-teal-text top-nav">Portfolio</a>
                <a href="#contact" class="text-peach-text hover:text-teal-text top-nav">Connect</a>
                <!-- Add more navigation links as needed -->
            </div>
        </div>
    </nav>
<!-- <br>
<br>
<br> -->
    <div class="modal">
        <div class="modal-content">
            <button class="close-modal">&#10006;</button>
            <div class="modal-navbar-buttons">
                <!-- <button><a class="" href="#">Home</a></button> -->
                <button><a class="" href="/portfolio">Portfolio</a></button>
                 <!-- <button><a class="" href="/html/about.html">About</a></button> -->
                 <button><a class="" href="#contact">Connect</a></button>
            </div>
        </div>
    </div>


    <!-- Hero Section -->
<br>
<br>
    <header class="bg-gradient-to-r from-teal-bg to-peach-bg py-16 relative">

        <!-- SVG background pattern for profile picture -->
        <div class="absolute inset-0 profile-bg"></div>
        <div class="container mx-auto text-center">
            <img src="/image/dp.jpeg" alt="Your Name" class="w-25 h-80 rounded-full mx-auto mb-4 owner-pic">
            <h1 class="text-purple-text text-4xl font-bold mb-4 hero-intro">Hello, I'm Moses Sunday</h1>
            <p class="text-peach-text text-lg">
            <span class="welcome-note"></span>.
            </p>
            <p ></p>
            <!-- Add a call-to-action button if needed -->
            <br />
            <br />
            <div class="animate__animated animate__pulse">
                <a href="https://wa.link/y0mqz2" class="glowing-btn">Contact Me</a>
            </div>
        </div>
    </header>

    <br>
    <br>
    
    <br>
    <br>
    <br>
    <br>

    <!-- About Me Section -->
    <section id="about" class="py-16 bg-white rounded-lg shadow-lg md:px-16 lg:px-32">
        <br>
        <br>
    
    
        <div class="container mx-auto">
            <div class="marg">
                <h2 class="text-teal-text text-3xl font-bold mb-8">About Me</h2>

                <p class="text-teal-text mb-4 text-lg font-medium">
                    I am a skilled and knowledgeable full-stack web developer with expertise in HTML, CSS, JavaScript, PHP, and MySQL.  <p class="text-teal-text mb-4 text-lg font-medium">
                        With a strong foundation in these technologies, I have successfully created visually appealing and responsive user interfaces while securely handling data on the server-side.
                    </p>
                    <p class="text-teal-text mb-4 text-lg font-medium">
                        Additionally, I have gained two years of valuable experience in the tech industry, honing my skills and staying up-to-date with the latest web development trends. My passion for technology and dedication to continuous learning enable me to tackle challenges and deliver high-quality projects.
                    </p>

                    <p class="text-teal-text mb-4 text-lg font-medium">
                        As a full-stack web developer, I bring a holistic approach to web development, seamlessly integrating front-end and back-end technologies.
                        <span><a href="./d/Moses_Sunday_resume.pdf" download="Moses_Sunday_resume" style="color: red;">Download Resume</a></span>
                    </p>
                    <!-- Add more content as needed -->


                    <!-- call to action button -->
                    <br />
                    <br />
                    <div class="animate__animated animate__pulse">
                        <a href="https://wa.link/y0mqz2" class="glowing-btn">Contact Me</a>
                    </div>
                </div>

            </section>

            <!-- Portfolio Section -->
            <section id="portfolio" class="py-16 bg-peach-bg rounded-lg shadow-lg md:px-16 lg:px-40">
                <div class="container mx-auto marg">
                    <h2 class="text-teal-text text-3xl font-bold mb-8"> 
                        <!-- <span><a href="portfolio.html" class="hover:text-teal-text"><i class="fab fa"></i>🔗</a></span> -->
                    </h2>
                    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-8">




                        <!-- Add your portfolio projects here -->
                        <!-- <div class="project-card" id="projectContainer">
                          </div>
                          


                        <div class="carousel-container">
                            <div class="carousel-wrapper">
                              <div class="carousel-slide">
                                <div class="card" id="projectContainer"><span class="project-card " id="project-card"></span></div>
                                <div class="card"><img src="/image/telhealth.jpeg" alt=""> Card 2</div>
                                <div class="card"><img src="/image/dp.jpeg" alt=""> Card 3</div>
                              </div>
                            </div>
                            <div>
                            
                                <button class="arrow prev"> <span class="carousel-btn" onclick="prevSlide()">Previous</span></button>
                                <button class="arrow next"> <span class="carousel-btn" onclick="prevSlide()">Previous</span></button>
                          </div>
                        </div>
                        <div class="w-2/3 mx-auto"> -->
                            <!-- <div class="carousel-container">
                                <img src="/image/health.jpeg" alt="Image 1" class="carousel-img active">
                                <img src="/image/telhealth.jpeg" alt="Image 2" class="carousel-img">
                                <img src="/image/prihealth.jpeg" alt="Image 3" class="carousel-img">
                                <div class="carousel-caption">
                                    <p>
                                        Hello
                                    </p>
                                </div>
                            </div> -->

                            <!-- <div class="carousel-controls text-center mt-4">
                                <button class="carousel-btn" onclick="prevSlide()">Previous</button>
                                <button class="carousel-btn" onclick="nextSlide()">Next</button>
                            </div> -->
                        </div>
                        <!-- Use image cards or links to the projects -->
                    </div>
                </div>
            </section>

            <!-- Contact Section -->
            <section id="contact" class="py-16 bg-white rounded-lg shadow-lg md:px-16 lg:px-32">
                <div class="container mx-auto marg">
                    <h2 class="text-teal-text text-3xl font-bold mb-8">Let's connect</h2>
                    <p class="text-teal-text mb-4">
                        Get in touch with me:
                    </p>
                    <!-- Add a contact form or contact information -->
                    <div class="flex space-x-4 text-teal-text text-2xl">
                        <!-- Replace the "#" with your actual social media links -->
                        <a href="https://twitter.com/SundayMoses0?t=bsDwcjAXaHMTh5-4g1vnLQ&s=09" class="hover:text-teal-text"><i class="fab fa-twitter"></i></a>
                        <a href="https://www.linkedin.com/in/moses-sunday" class="hover:text-teal-text"><i class="fab fa-linkedin"></i></a>
                        <a href="https://github.com/Moses-main" class="hover:text-teal-text"><i class="fab fa-github"></i></a>
                        <a href="https://wa.link/y0mqz2" class="hover:text-teal-text"><i class="fab fa-whatsapp"></i></a>

                        <!--
                                <a href="mailto: moseschizaram8@gmail.com" class="hover:text-teal-text"><i class="fab fa-mail"></i></a> -->

                        <!-- Add more social media handles as needed -->
                    </div>
                </div>
            </section>

            <!-- Footer -->
            <footer class="bg-teal-bg text-peach-text text-center py-4">
                <p>
                    © 2023 Moses Sunday. All rights reserved.
                </p>
            </footer>

        </body>
        <script src="/js/modal_nav.js"></script>
        <script src="/js/just.js"></script>
        <script src="/js/carousel.js"></script>
        <script src="/js/old_carousel.js"></script>

    </html>